[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
autopep8 = "*"
sqlalchemy = "*"
alembic = "*"
gunicorn = "*"
psycopg2 = "*"
requests = "*"
python-multipart = "*"
passlib = {extras = ["bcrypt"], version = "*"}
pyopenssl = "*"
python-jose = {extras = ["cryptography"], version = "*"}
redis = "*"
httpx = "*"

[dev-packages]
black = "*"
pre-commit = "*"
flake8 = "*"
pytest-env = "*"
pytest = "*"

[requires]
python_version = "3.10"
