[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
autopep8 = "*"
sqlalchemy = "*"
alembic = "*"
gunicorn = "*"
psycopg2 = "*"
requests = "*"
python-multipart = "*"

[dev-packages]
black = "*"
pre-commit = "*"
pytest = "*"

[requires]
python_version = "3.10"
